body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.full-screen {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
}

.spinner {
    -webkit-animation: spin 4s infinite linear;
}

.MuiCheckbox-colorPrimary {
    color: unset !important;
}
.MuiInputBase-root {
    border: 1px solid var(--app-border-color) !important;
}
.MuiInputBase-root [role="button"] {
    color: var(--app-fg-color);
    padding: 13px 14px;
}
.MuiInputBase-root svg{
    color: var(--app-fg-color);
}
.MuiInputBase-root.Mui-focused {
    border-color: var(--app-primary-color) !important;
}
.MuiPopover-paper {
    background: var(--app-secondary-bg-color) !important;
    color: var(--app-fg-color) !important;
}
.MuiInputBase-root fieldset{
    border-color: transparent !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
    padding: 0.75rem;
}

.col-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
.col-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
.col-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
.col-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
.col-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}