body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.full-screen {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;
}

.spinner {
    -webkit-animation: spin 4s infinite linear;
}

.MuiCheckbox-colorPrimary {
    color: unset;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}